
<div class="container p-5 bg-light">
  <div style="display:flex;justify-content:space-between; align-items:center; 100%">

    <% if user_signed_in? %>
    <div>
    <h6>Welcome</h6><p><%=current_user.email%></p>
    </div>
    <% if can? :manage, @articles.first %>
      <p>given read permission</p>
    <%end%>
    <p>
      <%= link_to 'logout', destroy_user_session_path,
                      method: :delete, class: "btn bg-light" %>
    </p>
    <% else %>
    <p>
      <%= link_to 'login', new_user_session_path , class: "btn bg-light" %>
    </p>
    <p>
      <%= link_to 'signup', new_user_registration_path , class: "btn bg-light" %>
    </p>
    <% end %>
  </div>
<div class="card p-5">
  <div style="display:flex;justify-content:space-between; align-items:center; width:100%">
  <h1>Articles</h1> 

  <p>
  <%= link_to 'New article', new_article_path  ,class: "btn bg-info" %>
  </p>
  </div>
  
    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th></th>
      </tr>
    
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= link_to 'Show', article_path(article) , class: "btn bg-light" %></td>
          <% if user_signed_in? && can?(:manage,article)%>
            <td><%= link_to 'Edit', edit_article_path(article) , class: "btn bg-light" %></td>
            <td><%= link_to 'Destroy', article_path(article),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },  class: "btn bg-light" %></td>
          <%end%>
        </tr>
      <% end %>

    </table>
  </div>
</div>